# Dependency directories
node_modules/
dist/
# TypeScript cache
*.tsbuildinfo
.DS_Store
.vscode/*
# Logs
logs
*.log
npm-debug.log*
.cache
# Ignore Mac system files
.DS_store
# Ignore all text files
*.txt
# Ignore files related to API keys
.env
# Ignore SASS config files
.sass-cache
